#contenedor{
    display: grid;
    grid-template-columns:repeat(10, 50px);
    gap: 5px;
    margin-top:20px;
}

.cuadro{
    width: 50px;
    height: 50px;
    background-color:cadetblue;
    display:felx;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    border: 1px double #0e556b;
    border-radius: 4px;
}
 
.azul{
    background-color: blue;
    color:white;
}

.rojo{
    background-color: red;
    color:white;
}

.verde{
    background-color: green;
    color:white;
}